
<h2>Add Blog</h2>
<form action="/createblog" method="post">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Title</label>
        <input type="text" class="form-control" id="blog-title" placeholder="Enter Blog Title">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Description</label>
        <input type="textarea" class="form-control" id="blog-desc" placeholder="Enter Blog Description">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Image</label>
        <input type="text" class="form-control" id="image-url" placeholder="Enter Blog Image Url">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
